
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge legacy */
  overflow-y: scroll; 
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera, Edge moderno */
}


body, html {
  margin: 0;
  padding: 0;
}

body {
	background-color: #EBEBEB ;
}


.website-wrapper {
  display: flex;
  height: 330px;
  width: 100vw;
  overflow: hidden; /* Nasconde l'overflow durante le animazioni */
  margin-top: 0px;
}

/* Stili per l'area del contenuto principale, che occupa lo spazio rimanente */
.main-content {
  flex-grow: 1; /* Occupa tutto lo spazio disponibile */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0px; /* Spazio dall'alto per il semicerchio */
  /* Assicurati che l'animazione del semicerchio funzioni correttamente */
}





/*semicircle*/

.semicircle-container {
  /* Inizia fuori schermo in alto */
  transform: translateY(-100px); 
  animation: slideDown 1s ease-out forwards;
  width: 100%;
  border-left: 0px;
}

.semicircle {
  width: 70%;
  height: 300px;
  background-color: #800020;
  border-radius: 0 0 70% 70%;
  border-bottom: 20px solid white;
  position: relative;
  margin-left: 0px;
}

/* Keyframes per la discesa del semicerchio */
@keyframes slideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-gas {
  color: #A52A2A;
  font-size: 12.5em;
  font-weight: bold;
  /*text-align: center;*/
  margin-top: 50px;
  margin-left: 260px;
  opacity: 0;
  /* Animazione del testo: inizia dopo 1 secondo */
  animation: fadeInText 5.0s ease-out 3s forwards; 
}

/* Keyframes per l'apparizione del testo */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.text-container {
  /* Inizia fuori schermo in alto */
  width: 100%;
  border-left: 0px;
}




/*side bar eccezione*/

.fake-paragrafo {
/*background-color: #808080;*/
background-color:  ;
background-size: cover;
padding: 0px;
/*margin: 50px auto;*/
margin-left: 0px auto;
margin-top: 0px auto;
width: 100%px;
/*max-width: 900px;*/
/*border-radius: 0px;*/
text-align: center;
/*background-color:#ADD8E6;*/                                     /*colore sfondo paragrafo (azzurro chiaro)*/
height: 100%px;
color: white;
border-top-right-radius: 15px; /* Imposta l'arrotondamento dell'angolo in alto a sinistra */
border-bottom-right-radius: 15px; /* Imposta l'arrotondamento dell'angolo in alto a destra */
}

details {
  width: 180px; /* Imposta una larghezza fissa */
  margin-top: 0px;
  padding: 0px;
}















/* Sidebar */

.sidebar {
  width: 400px;
  background-color: #800020;
  color: #fff;
  padding: 1.5em;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border-left:9px solid white;
 }
 
 .slidebar-animata {
  transform: translateX(600px); 
  animation: slideInSidebar 3s ease-out 2s forwards; 
}


@keyframes slideInSidebar {
  0% {
    transform: translateX(600px); /* Completamente fuori */
  }
  100% {
    transform: translateX(0); /* Nella sua posizione fissa */
  }
}


.sidebar h2 {
  font-size: 1.2em;
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 0.5em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1em 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 0.5em;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #FF9800;
}






/*parte superioe*/

.paragrafoscritte {
background-color:#444444;        /*#004080*/
padding-top: 0px;
margin: 20px auto 40px auto;
margin-top: 20px;
margin-bottom: 40px ;
margin-left: 2px ;
width: 1010px;
max-width: 100%;
height: 100px;
border-radius: 15px;
text-align: center;
/*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);*/        /*sfumatura per renderlo lucido*/
color: white;    
/*background-image: linear-gradient(to bottom, #E0E0E0, #C0C0C0);*/ /* Esempio di gradiente */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);                         /* Esempio di ombra */                                             /*colore testo*/
border: 2px solid #A52A2A;
}





.miniparagrafo{
background-color:#444444;        /*#004080      #1C3AA9*/
padding-top: 0px;
margin: 0px auto 40px auto;
margin-top: 0px;
margin-bottom: 40px ;
margin-left: 2px ;
width: 600px;
max-width: 100%;
height: 7-0px;
border-radius: 15px;
text-align: center;
/*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);*/        /*sfumatura per renderlo lucido*/
color: white;    
/*background-image: linear-gradient(to bottom, #E0E0E0, #C0C0C0);*/ /* Esempio di gradiente */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);                         /* Esempio di ombra */                                             /*colore testo*/
border: 2px solid #A52A2A;
}






.mio-paragrafo {
background-color: rgba(0, 0, 0, 0.6);
padding: 25px;
margin: 50px auto;
width: 80%;
max-width: 900px;
max-height: 230px ;
border-radius: 15px;
text-align: center;
/*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
background-color:silver;                                     /*colore sfondo paragrafo (azzurro chiaro)*/
/*box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);*/        /*sfumatura per renderlo lucido*/
color: #D4AF37;    
background-image: linear-gradient(to bottom, #E0E0E0, #C0C0C0); /* Esempio di gradiente */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);                         /* Esempio di ombra */                                             /*colore testo*/
}

.distanza {
	margin-top: 400px;
	margin-bottom: 100px;
}


.distanzasù {
	margin-top: 100px;
}


.distanzagiù {
	margin-bottom: 100px;
}
























.container{
	grid-template-columns: 1fr; 
	display: grid;
	/*border: 1px solid black;*/
	/*margin:60 px;*/
	gap: 0px;
	text-align: center;
	
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: white;
	margin-left: 2px ;
    width: 1010px;
    max-width: 100%;
	overflow-wrap: break-word; 
    word-break: break-word;
}

.container p{
	text-align: left;
	color:#444444;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 60;
	font-style: normal;
	height: auto;
    line-height: auto; 
	margin-top: 5px;
}


.container h2{
	text-align: left;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 60;
	font-style: normal;
	letter-spacing:; 
    line-height: auto;
}


.container a {
  color:  #800020;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.container a:hover {
  color: #a34848;
}



.container b{
	text-align: left;
	color:#444444;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 100;
	font-style: oblique;
	letter-spacing:; 
    line-height: auto;
}


.container em{
	text-align: left;
	color:#FF9800;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 60;
	font-style: italic;
	letter-spacing:; 
    line-height: auto; 
	font-weight: lighter;
}





















.fisso{
	position: fixed;
	top: 0;
	width:100%;
	z-index: 1000;
}


.pocofisso{
	position: sticky;
	top: 0;
	width:100%;
	z-index: 1000;
}





/*matematica*/
.formula {
            font-size: 1.5em;
            font-style: italic;
            margin: 25px 0;
			margin-left: 40px;
            padding: 10px;
            background-color: #f4f4f4;
            border-radius: 10px;
            display: inline-block;
			width: 80%;
        }
.fraction {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.2em;
            text-align: center;
        }
.fraction > span {
            display: block;
        }
.denominator {
            border-top: 1px solid black;
        }









/*dedicato al video*/


.video-centrale {
  width: 600px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}





.mappa-concettuale {
    display: block;      /* Rimuove lo spazio extra */
    max-width: 100%;     /* Fondamentale: non eccede la larghezza del contenitore (.container) */
    height: auto;        /* Mantiene le proporzioni corrette */
    margin: 30px auto;   /* Centra la mappa orizzontalmente */
}




.link-download {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto 30px auto; /* Centra e crea spazio */
    
    /* Colori della tua palette */
    background-color: #A52A2A; /* Bordeaux Medio */
    color: white; /* Testo bianco su sfondo scuro */
    
    text-decoration: none; /* Rimuovi la sottolineatura */
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-download:hover {
    /* Usa il tuo colore d'accento Arancione al passaggio del mouse */
    background-color: #FF9800; /* Arancione Caldo */
    color: #444444; /* Testo scuro per un contrasto moderno sull'arancione */
}